.SkillsAndMe{
    width: 70vw;
    display: flex;
    margin-top: 10vh;
    height: 85vh;

    .leftSide{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &--top{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 10vh;
            font-size: 1.5rem;
            font-family: 'Contrail One', cursive;
            color: #231F20;
        }

        &--bottom{
            background-color: #281049af;
            height: 100%;
            color: #fff;
            padding: 1vh 0 1vh 2vw;
            h3{
                margin: 2vh 0;
            }


            .skillDiv{
                display: flex;
                align-items: center;
                margin-top: 1.5vh;

                i{
                    height: 50px;
                    width: 50px;
                    font-size: 3rem;
                    text-align: center;
                }
                p{
                    margin-left: 1vw;
                }

                .percentageDiv{
                    position: relative;
                    height: 2vh;
                    width: 60%;
                    background-color: rgb(255, 255, 255);
                    border-radius: 4px;
                    margin-left: 1vw;
                    .percent{
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: #000;
                        height: 100%;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    .rightSide{
        width: 50%;
        height: 100%;
        background-color: #000;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}


@media screen and (max-width : 1280px) {
    .SkillsAndMe{
        flex-direction: column;
        height: fit-content;
        width: 100%;
        align-items: center;

        .rightSide{
            display: none;
        }
    }
}

@media screen and (max-width : 1000px) {
    .SkillsAndMe{

        .leftSide{
            width: 80%;
        }
    }
}

@media screen and (max-width : 620px) {
    .SkillsAndMe{

        .leftSide{
            &--top{
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (max-width : 500px) {
    .SkillsAndMe{
        
        .leftSide{
            width: 100%;
            &--top{
                padding-left: 1rem;
            }
        }
    }
}

@media screen and (max-width : 380px) {
    .SkillsAndMe{

        .leftSide{
            &--top{
                font-size: 1.3rem;
            }
        }
    }
}