.Projects{
    width: 70vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;

    h2{
        color: #231F20;
        margin-top: 3vh;
        font-family: 'Rowdies', cursive;
        font-weight: 100;
        letter-spacing: 2px;
        font-size: 3vw;
        text-decoration: underline;
    }

    .ProjectDiv{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 5vh;
    }
}