*{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    scroll-behavior: smooth;
}

body{
    background-color: #4a1e6e;
    // background-color: #c698ec;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.App{
    width: 100vw;
    min-height: 250vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.loading{
        cursor: progress;
    }
}
// background-color: #e6cbfc;