.Footer{
    width: 100%;
    margin-top: 10vh;
    background-color: #1f1f1f;
    // background-color: #2E304A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;

    h2{
        color: #FFFFFF;
        font-family: 'Contrail One', cursive;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 3rem;
        margin-top: 5vh;
    }

    h4{
        color: #FFFFFF;
        background-color: #C21C40;
        padding: 10px 15px;
        font-family: 'Contrail One', cursive;
        font-weight: 800;
        font-style: italic;
        letter-spacing: 1px;
        font-size: 1.5rem;
        margin-top: 3vh;
    }

    .socialNetworks{
        margin-top: 5vh;
        display: flex;
        gap: 1rem;
        i{
            font-size: 2rem;
            color: #FFFFFF;
            cursor: pointer;
            transition: color .2s;

            &:hover{
                color: #C21C40;
            }
        }
    }

    p{
        color: #FFFFFF;
        font-family: 'Contrail One', cursive;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 1.2rem;
        margin-top: 3vh;
    }
}

@media screen and (max-width : 500px) {
    .Footer{

        p{
            text-align: center;
        }
    }
}

