.Project{
    width: calc(50% - 10px);
    height: 25rem;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: scale(1.25);
    }

    
    .Skills{
        position: absolute;
        width: 100%;
        height: 100%;
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.589);
        opacity: 0;
        transition: opacity .3s;
        
        h3{
            margin-top: 1rem;
            margin-left: 2rem;
        }
        
        .ProjectTitle{
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            margin-top: 1rem;
            margin-right: 1rem;
            
            a{
                color: rgb(106, 39, 214);
                text-decoration: none;

                &::after{
                    display: block;
                    content: "";
                    width: 0;
                    height: 2px;
                    background-color: rgb(106, 39, 214);
                    transition: width .2s;
                }

                &:hover::after{
                    width: 100%;
                }
            }
        }

        .skillDiv{
            display: flex;
            align-items: center;
            margin-top: 1.5rem;
            margin-left: 2rem;
            
            i{
                height: 50px;
                width: 50px;
                font-size: 3vw;
                text-align: center;
            }
            p{
                margin-left: 1vw;
            }
            
            .percentageDiv{
                position: relative;
                height: 2vh;
                width: 60%;
                background-color: rgb(255, 255, 255);
                border-radius: 4px;
                margin-left: 1vw;
                .percent{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #000;
                    height: 100%;
                    border-radius: 4px;
                }
            }
        }
    }

    &:hover .Skills{
        display: block;
        opacity: 100%;
    }
}