.Navigation{
    position: fixed;
    top: 0;
    left: 0;

    .navigationsLinks{
        margin-top: 5vh;
        list-style: none;
        li{
            margin-left: -10vw;
            font-size: 1.5vw;
            transition: margin .9s;
            a{
                color: #231F20;
                text-decoration: none;
            }
        }
        
        &.open{
            
            li:nth-child(1){
                margin-left: 3vw;
                transition: margin .3s;
            }
            li:nth-child(2){
                margin-left: 3vw;
                transition: margin .6s;
            }
            li:nth-child(3){
                margin-left: 3vw;
                transition: margin .8s;
            }
        }
    }




    // animation et css du burger
    .menu-btn {
        width: 40px;
        height: 40px;
        margin-top: 3vh;
        margin-left: 2vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .2s ease-in-out;
    

        .menu-btn__burger {
            width: 40px;
            height: 6px;
            background: #231F20;
            border-radius: 5px;
            transition: all .2s ease-in-out;
        }

        .menu-btn__burger::before,
        .menu-btn__burger::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 6px;
            background: #231F20;
            border-radius: 5px;
            transition: all .2s ease-in-out;
        }

        .menu-btn__burger::before {
            transform: translateY(-16px);
        }

        .menu-btn__burger::after {
            transform: translateY(16px);
        }


        &.open .menu-btn__burger {
            transform: translateX(-50px);
            background: transparent;
        }

        &.open .menu-btn__burger::before {
            transform: rotate(45deg) translate(35px, -35px);
        }
        &.open .menu-btn__burger::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }
    }
    
    
}