.Header{

    h1{
        color: #eaebb1;
        margin-top: 3vh;
        font-family: 'Rowdies', cursive;
        font-weight: 100;
        letter-spacing: 2px;
        font-size: 3rem;
    }

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width : 620px) {
    .Header{

        h1{
            font-size: 2.5rem;
        }
    }
}


@media screen and (max-width : 500px) {
    .Header{

        h1{
            font-size: 2.5rem;
            width: 50vw;
            text-align: center;
        }
    }
}