.Header{

    h1{
        color: #eaebb1;
        // color: #231F20;
        margin-top: 3vh;
        font-family: 'Rowdies', cursive;
        font-weight: 100;
        letter-spacing: 2px;
        font-size: 3vw;
    }

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}